/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.scroll-bar:vertical{
    -fx-background-color:transparent;
}
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: gray;
    -fx-background-radius: 5em;
}